<div class="templatedivflex2 menuflex divflex2center width100">
    <div class="templatedivflex2left">
        <button type="button" class="templatedivbutton templatecenteredbutton" id="provincesettingsbutton" onclick="provincesettingstoggle()">
            <span class="material-icons-outlined">settings</span>Edit
        </button>
    </div>
</div>
<div class="provincesettingsparent templatedivflex2 menuflex divflex2center width100" id="provincesettingsparent">
    <div class="infodiv">
        <h3 class="templatecontentheadercenter">Sorry, this content is not currently functional</h3>
    </div>
</div>
