{% extends "layout.html" %}
{% block title %}Find Targets{% endblock %}

{% block body %}
<div class="templatediv">
    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">track_changes</span>Find Targets</h1>
    </div>
    <div class="templatedivcontent">
        <h2 class="templatecontentheaderleft">Search for a Country</h2>
        <p class="templatecontentpleft landingpagecontent">
            Enter a country name or ID to quickly jump to their country page.<br>
            You can also use the <b>Global Affairs</b> menu to browse all countries by influence or province count.
        </p>
        <form action="/find_targets" method="POST" class="infodiv" style="max-width: 400px; margin: 0 auto;">
            <label for="defender" class="bold">Country Name or ID:</label>
            <input class="loginsignupinput" autocomplete="off" type="text" name="defender" id="defender" placeholder="Enter name or ID" required style="margin-bottom: 10px; width: 100%;" />
            <button class="templatedivbutton templatecenteredbutton" type="submit">
                <span class="material-icons-outlined">search</span>Find
            </button>
        </form>
    </div>
</div>
{% endblock %}
