{% extends "layout.html" %} {% block title %} Mass Purchase {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper provincestopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            payments
            </span>Mass Purchase</h1>
    </div>

    <div class="templatedivcontent">

        <p class="templatecontentpleft landingpagecontent">
            You can purchase infrastructure and land for each of your provinces individually. Visit the <a href="/provinces">Provinces</a> page to manage purchases for each province.
        </p>

        {% if provinces %}
        <h3 class="templatecontentheadercenter">Your Provinces</h3>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th><span class="material-icons-outlined">
                            account_balance
                                </span>Province Name</th>
                    <th><span class="material-icons-outlined">
                            business
                                </span>Cities</th>
                    <th><span class="material-icons-outlined">
                            landscape
                                </span>Land</th>
                    <th>Action</th>
                </tr>
                {% for province in provinces %}
                <tr>
                    <td><span class="material-icons-outlined">
                            account_balance
                            </span>{{ province['name'] }}</td>
                    <td><span class="material-icons-outlined">
                            business
                            </span>{{ province['cityCount'] }}</td>
                    <td><span class="material-icons-outlined">
                            landscape
                            </span>{{ province['land'] }}</td>
                    <td><a href="/province/{{ province['id'] }}" class="templatedivbutton templatecenteredbutton">Manage</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p class="templatecontentpleft">You don't have any provinces yet. <a href="/createprovince">Create a province</a> to get started.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
