{% extends "layout.html" %} {% block title %} Mass Purchase {% endblock %}{% block body_class %} page-mass-purchase game-page-v2{% endblock %} {% block body %}
{% from 'macros/game_ui.html' import game_hero %}

<div class="game-page-bg" style="background-image: url('{{ url_for('static', filename='images/province.jpg') }}');"></div>
<div class="game-page-overlay"></div>

<div class="templatediv">

    {{ game_hero('Mass Purchase', badge_icon='payments') }}

    <div class="templatedivcontent">

        <p class="templatecontentpleft landingpagecontent">
            You can purchase infrastructure and land for each of your provinces individually. Visit the <a href="/provinces">Provinces</a> page to manage purchases for each province.
        </p>

        {% if provinces %}
        <h3 class="templatecontentheadercenter">Your Provinces</h3>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th><span class="material-icons-outlined">
                            account_balance
                                </span>Province Name</th>
                    <th><span class="material-icons-outlined">
                            business
                                </span>Cities</th>
                    <th><span class="material-icons-outlined">
                            landscape
                                </span>Land</th>
                    <th>Action</th>
                </tr>
                {% for province in provinces %}
                <tr>
                    <td><span class="material-icons-outlined">
                            account_balance
                            </span>{{ province['name'] }}</td>
                    <td><span class="material-icons-outlined">
                            business
                            </span>{{ province['citycount'] }}</td>
                    <td><span class="material-icons-outlined">
                            landscape
                            </span>{{ province['land'] }}</td>
                    <td><a href="/province/{{ province['id'] }}" class="game-btn game-btn-primary game-btn-sm">Manage</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p class="templatecontentpleft">You don't have any provinces yet. <a href="/createprovince">Create a province</a> to get started.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
