{% extends "layout.html" %} {% block title %} Statistics {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper noboxshadowtopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            insert_chart_outlined
            </span>Statistics</h1>
    </div>

    <div class="templatedivcontent">

        <h2 class="templatecontentheadercenter">Stats are stored for 100 days</h2>

        <h2 class="templatecontentheaderleft"><span class="material-icons-outlined">
                        public
                        </span>Nation Statistics</h2>

        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left">
                <table class="templatetable">
                    <tr>
                        <th><span class="material-icons-outlined">
                                        groups
                                        </span>Global Stats</th>
                    </tr>
                    <tr>
                        <td>Total Nations:</td>
                        <td>{{ total_nations | commas }}</td>
                    </tr>
                    <tr>
                        <td>Average Influence:</td>
                        <td>{{ avg_influence | commas }}</td>
                    </tr>
                    <tr>
                        <td>Highest Influence:</td>
                        <td>{{ max_influence | commas }}</td>
                    </tr>
                </table>
            </div>
            <div class="templatedivflex2left">
                <div class="infodiv">
                    <p class="templatecontentpleft">Track global market trends and nation statistics to make informed decisions about trading, warfare, and economic planning.</p>
                </div>
            </div>
        </div>

        <h2 class="templatecontentheaderleft"><span class="material-icons-outlined">
                        local_grocery_store
                        </span>Market Prices</h2>
            <div class="templatedivflex2left">

                <table class="templatetable">
                    <tr>
                        <th><span class="material-icons-outlined">
                                        insert_chart_outlined
                                        </span>Average Price</th>
                    </tr>
                    <tr>
                        <td>Rations:</td>
                        <td>{{ market_stats.get('rations', {}).get('avg', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Oil:</td>
                        <td>{{ market_stats.get('oil', {}).get('avg', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Coal:</td>
                        <td>{{ market_stats.get('coal', {}).get('avg', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Uranium:</td>
                        <td>{{ market_stats.get('uranium', {}).get('avg', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Steel:</td>
                        <td>{{ market_stats.get('steel', {}).get('avg', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Aluminium:</td>
                        <td>{{ market_stats.get('aluminium', {}).get('avg', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Lumber:</td>
                        <td>{{ market_stats.get('lumber', {}).get('avg', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Components:</td>
                        <td>{{ market_stats.get('components', {}).get('avg', 'N/A') }}</td>
                    </tr>
                </table>
            </div>
            <div class="templatedivflex2left">
                <p class="templatecontentheadercenter">Chart of prices over last 100 days</p>
            </div>
        </div>

        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left">

                <table class="templatetable">
                    <tr>
                        <th><span class="material-icons-outlined">
                                        arrow_circle_up
                                        </span>Highest Price</th>
                    </tr>
                    <tr>
                        <td>Rations:</td>
                        <td>{{ market_stats.get('rations', {}).get('max', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Oil:</td>
                        <td>{{ market_stats.get('oil', {}).get('max', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Coal:</td>
                        <td>{{ market_stats.get('coal', {}).get('max', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Uranium:</td>
                        <td>{{ market_stats.get('uranium', {}).get('max', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Steel:</td>
                        <td>{{ market_stats.get('steel', {}).get('max', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Aluminium:</td>
                        <td>{{ market_stats.get('aluminium', {}).get('max', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Lumber:</td>
                        <td>{{ market_stats.get('lumber', {}).get('max', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Components:</td>
                        <td>{{ market_stats.get('components', {}).get('max', 'N/A') }}</td>
                    </tr>
                </table>
            </div>
            <div class="templatedivflex2left">

                <table class="templatetable">
                    <tr>
                        <th><span class="material-icons-outlined">
                                        arrow_circle_down
                                        </span>Lowest Price</th>
                    </tr>
                    <tr>
                        <td>Rations:</td>
                        <td>{{ market_stats.get('rations', {}).get('min', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Oil:</td>
                        <td>{{ market_stats.get('oil', {}).get('min', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Coal:</td>
                        <td>{{ market_stats.get('coal', {}).get('min', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Uranium:</td>
                        <td>{{ market_stats.get('uranium', {}).get('min', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Steel:</td>
                        <td>{{ market_stats.get('steel', {}).get('min', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Aluminium:</td>
                        <td>{{ market_stats.get('aluminium', {}).get('min', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Lumber:</td>
                        <td>{{ market_stats.get('lumber', {}).get('min', 'N/A') }}</td>
                    </tr>
                    <tr>
                        <td>Components:</td>
                        <td>{{ market_stats.get('components', {}).get('min', 'N/A') }}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
